.banner-image {
  width: 100%;
  padding: 12px;
  padding-top: 0;
}

.banner-image img {
  width: 100%;
  height: 230px;     /* можешь менять 200/250/300 */
  object-fit: cover;
  border-radius: 16px;
}